.Input {
  display: flex;
  gap: 3em;
}

.Input--title {
  margin-top: 0;
}

.Input--submit {
  padding: 0.9em 1.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
