.Pref {
  padding: 0.4em 0.5em;
  font-weight: 600;
  min-width: 70px;
  min-height: 2.1em;
  border-radius: var(--size-border-radius-soft);
  color: white;
}

.Pref--yes {
  background-color: var(--color-green);
}

.Pref--yes:hover {
  background-color: var(--color-green-active);
}

.Pref--maybe {
  background-color: rgb(8, 158, 228);
}

.Pref--maybe:hover {
  background-color: rgb(0, 168, 247);
}

.Pref--no {
  color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.06);
}

.Pref--no:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
